.contact {
  padding-top: 117px;
  padding-bottom: 78px;
  max-width: 111rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  & .header {
    max-width: 445px;
  }

  & .form {
    & .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 24px;

      & .row {
        grid-column: span 2;
      }
    }

    & .trigger {
      background-color: #ed4c5c;
      border: 0;
      border-radius: 6px;
      text-transform: uppercase;
      padding: 16px 34px;
      margin-top: 27px;

      &:focus-visible {
        opacity: 0.8;
      }

      @media (hover: hover) {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
