.formInput {
  max-width: 100%;
  display: block;
  background-color: transparent;
  border-radius: 0.6rem;
  height: 6rem;
  border: 1px solid #333;
  padding: 2rem 3rem;
  font-size: 1.6rem;

  &::placeholder {
    color: #132743;
    opacity: 0.5;
  }
}
